<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="utf-8">
  <title>Node User Directory</title>
</head>

<body>
  <ul class='user-list'>
    {{#users}}
      <li class='user-list__item'>
        <img src={{avatar}} alt="avatar">
        <span>{{username}}</span>
      </li>
    {{/users}}
  </ul>
</body>

</html>
